{% extends "base.html" %}

{% block footer %}
<footer class="md-footer">
  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid">
      <div class="md-copyright" style="text-align: center; width: 100%;">
        <div style="margin-bottom: 10px;">
          © 2025 Jose Insausti - Dept. Informática - CIFP Txurdinaga LHII
        </div>
        <div>
          <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noopener">
            <img src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" alt="Licencia Creative Commons" style="height: 31px;">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
